
/* preto : #000000e5 */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Benton";
    src: url(BentonSans\ Comp\ Black.otf);
}


body { 
    font-family: myriad pro, sans-serif;
    background-image: url(imgs/imgsSite/BG.png);
    background-size: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* código do cabeçalho */

#Cabeçalho {
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #0D0D0D;
    padding: 20px;
}

#logo {
    width: 150px;
    height: auto;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 15px;
    font-size: 24px;
}

nav a:hover {
    text-decoration: underline;
}


/* fazendo menu de hamburguer para telas menores */


.menu-toggle {
    display: none;
}


.nav-menu {
    display: flex;
    align-items: center;
    gap: 20px;
}


.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    background: white;
    transition: 0.3s;
    
}


@media (max-width: 700px) {


    .hamburger {
        display: block;
        z-index: 10;
    }

    .nav-menu {
        position: fixed;
        top: 70px;
        left: -100%;
        width: 100%;
        background: #000000 ;
        flex-direction: column;
        padding: 20px 0;
        text-align: center;
        transition: 0.3s ease;
        gap: 15px;
    }


    .menu-toggle:checked ~ .nav-menu {
        left: 0;
    }


    .menu-toggle:checked + .hamburger .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu-toggle:checked + .hamburger .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle:checked + .hamburger .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}



/* parte do corpo do site */

.content {
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}

.title {
    display: flex;
    width: 100%;
    margin-left: 100px;
    justify-content: left;
    align-items: center;
}

.title h1 {
    font-family: "Benton";
    font-size: 10rem;
    color: #000000e5;
    
}

#imagem img {
    width: 600px;
    margin-right: 100px;
}

@media (max-width: 1200px) {
    .content {
        
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 100px;}

    .title {
        margin-left: 0px;
        margin-right: 0px;
        justify-content: center;
    }
    .title h1 {
        font-size: 6rem;
    }
    #imagem img {
        margin-right: 0px;
        width: 25rem;
    }
}