/* preto : #000000e5 */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Benton";
    src: url(/BentonSans\ Comp\ Black.otf);
}


body { 
    font-family: myriad pro, sans-serif;
    background-image: url(/imgs/imgsSite/BG.png);
    background-size: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* código do cabeçalho */

#Cabeçalho {
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color: #0D0D0D;
    padding: 20px;
}

#logo {
    width: 150px;
    height: auto;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 15px;
    font-size: 24px;
}

nav a:hover {
    text-decoration: underline;
}

/* parte do corpo do site  */

#content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 50px;
}

#title {
   
    margin-left: 100px;
    margin-right: 200px;
    justify-content: left;
}

#title h1 {
    font-family: "Benton";
    font-size: 10em;
    color: #000000e5;
    
}

#imagem img {
    
    margin-right: 100px;
    width: ;
}