/* preto : #000000e5 */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Benton";
    src: url(/BentonSans\ Comp\ Black.otf);
}


body { 
    font-family: myriad pro, sans-serif;
    /* background-image: url(/imgs/imgsSite/BG.png);*/
    background: linear-gradient(rgba(255,255,255,0.7), rgba(255, 255, 255, 0.7)), url("/imgs/imgsSite/BG.png");
    background-size: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* código do cabeçalho */

#Cabeçalho {
    z-index: 20;
    position:  fixed;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color: #0D0D0D;
    padding: 20px;
}

#logo {
    width: 150px;
    height: auto;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 15px;
    font-size: 24px;
}

nav a:hover {
    text-decoration: underline;
}

/* fazendo menu de hamburguer para telas menores */

.menu-toggle {
    display: none;
}


.nav-menu {
    display: flex;
    align-items: center;
    gap: 20px;
}


.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    background: white;
    transition: 0.3s;
}


@media (max-width: 700px) {


    .hamburger {
        display: block;
        z-index: 10;
    }

    .nav-menu {
        position: fixed;
        top: 70px;
        left: -100%;
        width: 100%;
        background: #000000 ;
        flex-direction: column;
        padding: 20px 0;
        text-align: center;
        transition: 0.3s ease;
        gap: 15px;
    }


    .menu-toggle:checked ~ .nav-menu {
        left: 0;
    }


    .menu-toggle:checked + .hamburger .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu-toggle:checked + .hamburger .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle:checked + .hamburger .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}



/* parte do corpo do site  */

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.title {
    display: grid;  
    justify-content: left;

}

.title h1 {
    font-family: "Benton";
    font-size: 10em;
    color: #000000e5;
    
}

.title p {
    font-size: 24px;
    color: #000000e5;
}


main{
    padding: 40px 20px;
    max-width: 1100px;
    margin: 0 auto;
    margin-top:100px
}
.textAlign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}

.textAlign h2 {
    font-size: 6em;
    font-family: "Benton";
    color: #000000e5;
    margin-bottom: 30px;
}

.about {
    padding: 1.5rem 0;
}

#frames {
    display: flex;
    gap: 80px;
}

.box-frame {
    display: flex;
    flex-direction: column;
    align-items: center;;
    border: 2px solid #000000e5;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    height: auto;
}

.box-frame h3 {
    font-family: "Benton";
    font-size: 2em;
    color: #000000e5;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.box-frame p {
    width: 350px;
    text-align: left;
}

.box-frame img {
    margin-top: 20px;
    width: 350px;
    border-radius: 10px;
}

@media (max-width: 1100px) {
    .content {
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
    }

    .title {
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;   
        justify-content: center;
        text-align: center;

    }

    .title h1 {
        font-size: 8rem;
    }

    .textAlign {
        margin-left: 20px;
        margin-right: 20px;
    }
    .textAlign h2 {
       font-size: 3rem;
    }

    #imagem img  {
        width: 25rem;
    }

    #frames {
        flex-direction: column;
        gap: 50px;
    }
}

/* códido da página dos vilões  */

.contentPag3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

#boxi {
    height: 200px;
}

#imagemVenom img {
   width: 700px;
}

#SinisterSix {
    margin-left: 100px;
    margin-right: 100px;
    font-size: 24px;
    color: #000000e5;
}

.boxVilao {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    
}

.boxVilaoItem {
    background-color: #0D0D0D;
    height: 400px;
}

.boxVilaoItem img {
    width: 250px;
    border-bottom: solid 10px #ff0000e5;
}

.boxVilaoItem h3 {
    font-family: "Benton";
    font-size: 1.5em;
    color: #ffffffe5;
    margin-top: 10px;
    margin-left: 20px;
}

.boxVilaoItem p {
    font-family: "Benton";
    font-size: 1em;
    color: #484545e5;
    margin-top: 40px;
    margin-left: 20px;
}

/* codigo da pagina universo  */



.universo-section {

    max-width: 1100px;
    height: 200px;
    margin: 0 auto;
}

/* lista horizontal */
.universo-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* item */
.universo-item {
    display: flex;
    background: #111;
    border: 1px solid #222;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(255, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.universo-item:hover {
    transform: translateY(-4px);
}


.universo-item img {
    width: 20%;
    object-fit: cover;
}   


.universo-texto {
    width: 100%;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.universo-texto h3 {
    font-family: "Benton";
    margin-bottom: 5px;
    color: #ffffff;
    font-size: 1.4rem;
}

.universo-texto p {
    color: #ddd;
    line-height: 1.4;
}

/* responsivo */
@media (max-width: 500px) {
    .universo-item {
        display: flex;
        flex-direction: column; 
        text-align: center;
    }

    .universo-item img {
        width: 100%;
        height: 100%;
        
    }

    .universo-texto {
        padding: 15px;
        text-align: center;
    }
}

