* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: 
    background-repeat: no-repeat;
}

/* código do cabeçalho */

#Cabeçalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: #0d0d0d;
    padding: 20px;
}

#imgLogo {
    width: 150px;
    height: auto;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 24px;
}

nav a:hover {
    text-decoration: underline;
}